body{
    font-family: sans-serif;
}
.sidebar{
    background-color: rgba(1, 1, 1, 0.788);
    position: fixed;
    margin-left: -8px;
    margin-top: -8px;
    width: 300px;
    height: 105vh;
    text-align: center;
    color: white;
}
#nameDiv{
    margin-top: -8px;
    margin-left: 300px;
    text-align: center;
    border: 1px solid black;
}
#taskContainer{
    margin-left: 300px;
    text-align: center;
}
.task{
    font-size: 20px;
    display: block;
    margin: auto;
    margin-top: 20px;
    border: 1px solid green;
    width: 90%;
    padding: 15px;
}
.project{
    font-size: 20px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(182, 182, 182, 0.158);
    width: 80%;
    cursor: pointer;
}
#projectBtn{
    padding: 5px;
    width: 70%;
    font-size: 17px;
    margin-top: 10px;
    cursor: pointer;
}
#taskBtn{
    position: absolute;
    right: 20px;
    padding: 8px;
    cursor: pointer;
    margin-top: 20px;
}
#projectsFormContainer{
    display: none;
    flex-direction: column;
    margin: auto;
    position: absolute;
    top:20%;
    left: 30vw;
    width: 450px;
    text-align: center;
    z-index: 10;
}
#projectForm{
    background-color: rgb(221, 218, 248);
    border: 1px solid black;
}
#projectsFormContainer input{
    margin: 20px;
    margin-top: 0px;
    height: 30px;
    width: 70%;
}
#projectsFormContainer h1{
    margin-top: 40px;
}
#projectsFormContainer button{
    height: 30px;
    width: 30%;
    margin: 20px;
}
#tasksFormContainer{
    display: none;
    flex-direction: column;
    margin: auto;
    position: absolute;
    top:20%;
    left: 30vw;
    width: 450px;
    text-align: center;
    z-index: 10;
}
#tasksForm{
    background-color: rgb(143, 235, 252);
    border: 1px solid black;
}
#tasksFormContainer input{
    margin: 20px;
    margin-top: 0px;
    height: 30px;
    width: 70%;
}
#tasksFormContainer h1{
    margin-top: 40px;
}
#tasksFormContainer button{
    height: 30px;
    width: 30%;
    margin: 20px;
}
