@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: roboto;
    background-color: gray;
    user-select: none;
}
.sidebar{
    background-color: rgba(26, 26, 26, 0.788);
    text-shadow:5px 5px 3px rgb(0, 0, 0);
    position: fixed;
    margin-left: -8px;
    margin-top: -8px;
    width: 300px;
    height: 105vh;
    text-align: center;
    color: white;
}
#nameDiv{
    text-shadow:5px 5px 5px rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0px 3px 10px 3px rgb(50,50,50);;
    position: relative;
    color: white;
    background-color:rgb(85, 85, 85);
    margin-top: 0px;
    margin-left: 300px;
    text-align: center;
    border: 1px solid black;
}

#nameDiv h2{
    font-size: 15px;
}
#taskContainer{
    margin-left: 300px;
    text-align: center;
}
.task{
    position: relative;
    font-size: 20px;
    color: white;
    text-align: left;
    text-shadow:3px 3px 5px rgb(2, 2, 2);
    align-items: center;
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-right: 3%;
    margin-left: 3%;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 3px 15px black;
}
.task h1{
    margin: 0;
    margin-top: -10px;
    padding: 0px;
    font-size: 25px;
    max-width: 70%;
}
.task p{
    margin: 0;
    margin-bottom: -10px;
    font-size: 18px;
    left: 0px;
    font-weight: lighter;
}
.taskDue{
    display: block;
    margin: auto;
    margin-right: -7px;;
    margin-bottom: -10px;
    font-size: 16px;
}
.project{
    font-size: 20px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;

    background-color:rgb(85, 85, 85);
    width: 80%;
    cursor: pointer;
    border-radius: 8px;;
}
.selectedProject{
    box-shadow:inset  0px 0px 0px 3px rgb(65, 65, 65);
    background-color: rgb(68, 68, 68);
    font-size: 19px;
}
#projectBtn{
    color: white;
    padding: 5px;
    width: 70%;
    font-size: 17px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 15px -5px black;
    text-shadow:3px 3px 5px rgb(2, 2, 2);
    background-color:rgb(85, 85, 85);
}
#taskBtn{
    color: white;
    position: absolute;
    border-radius: 5px;
    right: 3%;
    font-size: 17px;
    padding: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 150px;
    box-shadow: 0px 0px 15px -5px black;
    text-shadow:3px 3px 5px rgb(2, 2, 2);
    background-color:rgb(85, 85, 85);
}
#projectsFormContainer{
    display: none;
    flex-direction: column;
    margin: auto;
    position: absolute;
    top:20%;
    left: 30vw;
    width: 450px;
    text-align: center;
    z-index: 10;
}
#projectForm{
    background-color: rgb(221, 218, 248);
    border: 1px solid black;
}
#projectsFormContainer input{
    margin: 20px;
    margin-top: 0px;
    height: 30px;
    width: 70%;
}
#projectsFormContainer h1{
    margin-top: 40px;
}
#projectsFormContainer button{
    height: 30px;
    width: 30%;
    margin: 20px;
}
#tasksFormContainer{
    display: none;
    flex-direction: column;
    margin: auto;
    position: absolute;
    top:20%;
    left: 30vw;
    width: 450px;
    text-align: center;
    z-index: 10;
}
#tasksForm{
    background-color: rgb(143, 235, 252);
    border: 1px solid black;
}
#tasksFormContainer input{
    margin: 20px;
    margin-top: 0px;
    height: 30px;
    width: 70%;
}
#tasksFormContainer h1{
    margin-top: 40px;
}
#tasksFormContainer button{
    height: 30px;
    width: 30%;
    margin: 20px;
}
.deleteButton{
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 2px;
    height: 20px;
    width: 20px;
    background-image: url("/src/assets/images/delete.png");
    background-size: cover;
}
.taskDeleteBtn{
    background-image: url("/src/assets/images/delete_black.png");
    background-size: cover;
    cursor: pointer;
    position: absolute;
    height: 15px;
    width: 15px;
    top: 6px;
    right: 6px;
}